PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE patients (
	id INTEGER NOT NULL, 
	name VARCHAR(100), 
	tracking_id VARCHAR(50) NOT NULL, 
	entry_time DATETIME NOT NULL, 
	exit_time DATETIME, 
	status VARCHAR(7) NOT NULL, 
	current_zone VARCHAR(50), 
	created_at DATETIME, 
	updated_at DATETIME, mobile VARCHAR(20), last_action VARCHAR(200), 
	PRIMARY KEY (id)
);
INSERT INTO patients VALUES(1,'Patient_1','CV-21660','2026-02-04 07:06:45.161107',NULL,'IN_ROOM','waiting_area_2','2026-02-04 13:06:45.169949','2026-02-04 13:06:45.169956',NULL,NULL);
INSERT INTO patients VALUES(2,'Patient_2','CV-96288','2026-02-04 12:06:45.161327','2026-02-04 13:08:45.161327','EXITED',NULL,'2026-02-04 13:06:45.169960','2026-02-04 13:06:45.169963',NULL,NULL);
INSERT INTO patients VALUES(3,'Patient_3','CV-24855','2026-02-03 13:06:45.161436','2026-02-03 15:32:45.161436','EXITED',NULL,'2026-02-04 13:06:45.169967','2026-02-04 13:06:45.169969',NULL,NULL);
CREATE TABLE zones (
	id INTEGER NOT NULL, 
	zone_name VARCHAR(50) NOT NULL, 
	display_name VARCHAR(100), 
	description VARCHAR(255), 
	capacity_limit INTEGER NOT NULL, 
	current_occupancy INTEGER, 
	zone_type VARCHAR(50), 
	floor_number INTEGER, 
	building VARCHAR(100), 
	warning_threshold FLOAT, 
	critical_threshold FLOAT, 
	is_active BOOLEAN, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
);
INSERT INTO zones VALUES(1,'entrance','Main Entrance','Primary entrance and exit point',30,14,'entrance',1,'Main Building',0.8000000000000000444,0.949999999999999956,1,'2026-02-04 13:06:45.045906','2026-02-04 13:06:45.045919');
INSERT INTO zones VALUES(2,'waiting_area_1','Main Waiting Area','Primary waiting area for walk-in patients',50,11,'waiting',1,'Main Building',0.8000000000000000444,0.949999999999999956,1,'2026-02-04 13:06:45.045925','2026-02-04 13:06:45.045928');
INSERT INTO zones VALUES(3,'waiting_area_2','Secondary Waiting Area','Overflow waiting area',30,6,'waiting',1,'Main Building',0.8000000000000000444,0.949999999999999956,1,'2026-02-04 13:06:45.045931','2026-02-04 13:06:45.045933');
CREATE TABLE alerts (
	id INTEGER NOT NULL, 
	timestamp DATETIME NOT NULL, 
	alert_type VARCHAR(17) NOT NULL, 
	severity VARCHAR(8) NOT NULL, 
	message TEXT NOT NULL, 
	zone_name VARCHAR(50), 
	patient_id INTEGER, 
	is_active BOOLEAN, 
	acknowledged BOOLEAN, 
	acknowledged_at DATETIME, 
	acknowledged_by VARCHAR(100), 
	resolved_at DATETIME, 
	metadata_json TEXT, 
	PRIMARY KEY (id)
);
INSERT INTO alerts VALUES(1,'2026-02-04 02:06:47.071078','CAPACITY_WARNING','WARNING','Zone has reached 80% capacity in waiting_area_2','waiting_area_2',NULL,0,0,NULL,NULL,NULL,NULL);
INSERT INTO alerts VALUES(2,'2026-02-04 08:06:47.071314','CAPACITY_WARNING','WARNING','Zone has reached 80% capacity in emergency','emergency',NULL,1,0,NULL,NULL,NULL,NULL);
INSERT INTO alerts VALUES(3,'2026-02-04 10:06:47.071415','UNUSUAL_ACTIVITY','WARNING','Unusual occupancy pattern detected in reception','reception',NULL,1,0,NULL,NULL,NULL,NULL);
CREATE TABLE metrics (
	id INTEGER NOT NULL, 
	timestamp DATETIME NOT NULL, 
	period_start DATETIME, 
	period_end DATETIME, 
	metric_type VARCHAR(50), 
	zone_name VARCHAR(50), 
	avg_dwell_time FLOAT, 
	min_dwell_time FLOAT, 
	max_dwell_time FLOAT, 
	entry_rate FLOAT, 
	exit_rate FLOAT, 
	throughput FLOAT, 
	total_entries INTEGER, 
	total_exits INTEGER, 
	peak_occupancy INTEGER, 
	avg_occupancy FLOAT, 
	sample_count INTEGER, 
	PRIMARY KEY (id)
);
INSERT INTO metrics VALUES(1,'2026-02-03 13:06:46.896093','2026-02-03 12:06:46.896093','2026-02-03 13:06:46.896093','hourly',NULL,51.60999999999999944,12.83000000000000007,150.3700000000000045,11.10999999999999944,19.64000000000000056,20.01000000000000157,49,40,115,71.31999999999999317,81);
INSERT INTO metrics VALUES(2,'2026-02-03 14:06:46.896416','2026-02-03 13:06:46.896416','2026-02-03 14:06:46.896416','hourly',NULL,56.65999999999999659,13.21000000000000085,107.0499999999999972,24.48999999999999844,12.18999999999999951,37.20000000000000285,25,23,62,45.24000000000000198,79);
INSERT INTO metrics VALUES(3,'2026-02-03 15:06:46.896558','2026-02-03 14:06:46.896558','2026-02-03 15:06:46.896558','hourly',NULL,33.40999999999999658,12.75,86.5,12.71000000000000085,13.75,41.36999999999999745,38,15,52,40.5799999999999983,87);
CREATE TABLE occupancy_logs (
	id INTEGER NOT NULL, 
	timestamp DATETIME NOT NULL, 
	people_count INTEGER NOT NULL, 
	previous_count INTEGER, 
	zone_name VARCHAR(50) NOT NULL, 
	entry_count INTEGER, 
	exit_count INTEGER, 
	confidence_score FLOAT, 
	source VARCHAR(50), 
	PRIMARY KEY (id), 
	FOREIGN KEY(zone_name) REFERENCES zones (zone_name)
);
INSERT INTO occupancy_logs VALUES(1,'2026-02-03 13:06:45.533963',14,NULL,'entrance',1,3,0.959999999999999965,'seed_data');
INSERT INTO occupancy_logs VALUES(2,'2026-02-03 14:06:45.534233',19,14,'entrance',3,1,0.969999999999999974,'seed_data');
INSERT INTO occupancy_logs VALUES(3,'2026-02-03 15:06:45.534349',23,19,'entrance',1,1,0.9200000000000000399,'seed_data');
CREATE UNIQUE INDEX ix_patients_tracking_id ON patients (tracking_id);
CREATE INDEX ix_patients_current_zone ON patients (current_zone);
CREATE INDEX ix_patients_status_zone ON patients (status, current_zone);
CREATE INDEX ix_patients_id ON patients (id);
CREATE UNIQUE INDEX ix_zones_zone_name ON zones (zone_name);
CREATE INDEX ix_zones_id ON zones (id);
CREATE INDEX ix_alerts_timestamp ON alerts (timestamp);
CREATE INDEX ix_alerts_zone_name ON alerts (zone_name);
CREATE INDEX ix_alerts_id ON alerts (id);
CREATE INDEX ix_alerts_alert_type ON alerts (alert_type);
CREATE INDEX ix_metrics_zone_name ON metrics (zone_name);
CREATE INDEX ix_metrics_metric_type ON metrics (metric_type);
CREATE INDEX ix_metrics_timestamp ON metrics (timestamp);
CREATE INDEX ix_metrics_id ON metrics (id);
CREATE INDEX ix_occupancy_logs_id ON occupancy_logs (id);
CREATE INDEX ix_occupancy_logs_timestamp ON occupancy_logs (timestamp);
CREATE INDEX ix_occupancy_logs_zone_name ON occupancy_logs (zone_name);
COMMIT;
